# === LOG FILES ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === NODE.JS ===
node_modules/
*.local

# === FRONTEND BUILD ===
dist/
dist-ssr/
frontend/**/dist/
frontend/**/build/

# === PYTHON / DJANGO ===
__pycache__/
*.py[cod]
*.sqlite3
*.pyo
*.pyd
backend/env/
backend/media/

# === EXCEL / TEMP ===
*.xlsx

# === EDITORS & OS ===
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
